/* css styles */
.content {
    transform: translate(20%, 5%);
    max-width: 40rem;
}
@media (min-width: 1200px) {
    .navbar { 
        border-radius: 25px;
        transform: translate(-50%, 50%);
        width: 60%; 
        left: 50%;
        position: relative;
    }
  }